/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url("/static/img/hero.png");
  background-position: 70% center;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
  .heroBanner {
    background-position: 10rem center;
    background-size: contain;
  }
}

@media screen and (max-width: 1760px) {
  .heroBanner {
    background-position: 400px center;
    background-size: contain;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background-position: 16rem center;
    background-size: cover;
  }
}
@media screen and (max-width: 640px) {
  .heroBanner {
    padding: 1rem;
    background-position: 0 center;
    background-size: cover;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.buttonsCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
